<html>
<head>
    <title>Panel</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
</head>
<body>
    <div class="container" style="margin-top:50px">
        <div class="row">
           <h2 class="page-header text-primary text-center"><i class="fa fa-calendar-alt"> Panel - Bootstrap & Flask</i></h2>
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Panel-Heading
                        </div>
                        <div class="panel-body">
                            Panel-Body
                        </div>
                        <div class="panel-footer">
                            Panel-Footer
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Panel-Heading
                        </div>
                        <div class="panel-body">
                            Panel-Body
                        </div>
                        <div class="panel-footer">
                            Panel-Footer
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Panel-Heading
                        </div>
                        <div class="panel-body">
                            Panel-Body
                        </div>
                        <div class="panel-footer">
                            Panel-Footer
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <div class="col-md-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Panel-Heading
                        </div>
                        <div class="panel-body">
                            Panel-Body
                        </div>
                        <div class="panel-footer">
                            Panel-Footer
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Panel-Heading
                        </div>
                        <div class="panel-body">
                            Panel-Body
                        </div>
                        <div class="panel-footer">
                            Panel-Footer
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Panel-Heading
                        </div>
                        <div class="panel-body">
                            Panel-Body
                        </div>
                        <div class="panel-footer">
                            Panel-Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>